header {
    border-bottom:      1px solid #8f0000;
    padding-bottom:     10px;
}

header p {
    margin-left:        20px;
    font-family:        hiragino sans, helvetica, swiss, arial, sans-serif;
    font-size:          20px;
    color:              #8f0000;
    font-weight:        bold;
    display:            inline-block;
}

h1 {
    margin-left:        20px;
    font-family:        hiragino sans, helvetica, swiss, arial, sans-serif;    
}

h2 {
    margin-left:        20px;
    font-family:        hiragino sans, helvetica, swiss, arial, sans-serif;
    font-size:          20px;
    color:              #8f0000;
}

#email {
    margin-left:        20px;
    font-family:        hiragino sans, helvetica, swiss, arial, sans-serif;
    font-size:          15px;
}

nav ul {
    float:              right;
}

nav ul li {
    display:            inline;
    list-style:         none;
    position:           relative;
    border-right:       1px solid black;
    padding-right:      4px; /* centers hover */
}

nav ul li:last-child {
    border-right:       none;
}

nav ul li a:hover {
    background-color:   #EBEBEB;
}

nav ul li a:active {
    background-color:   #D2D1D1; 
}

nav ul li a {
    display:            inline-block;
    font-family:        hiragino sans, helvetica, swiss, arial, sans-serif;
    color:              black;
    font-size:          20px;
    padding:            5px 20px;
    text-decoration:    none;
}

.column {
    float:              left;
    margin:             20px;
}

.left {
    width:              75%;
}

.right {
    width:              25%;
}

#list1 {
    list-style:         none;
    font-family:        hiragino sans, helvetica, swiss, arial, sans-serif;
    font-size:          15px;
}

.row:after {
    content:            "";
    display:            table;
    clear:              both;
} /*clear floats after columns*/

table {
    font-family:        hiragino sans, helvetica, swiss, arial, sans-serif;
    border-collapse:    collapse;
    width:              100%;
}

td, th {
    border:             1px solid #dddddd;
    text-align:         left;
    padding:            8px;
}

#schedule tr:nth-child(even) {
    background-color:   #dddddd;
}

#courseSearchTable tr td{
    text-align:         right;
}

.cstTitle {
    font-weight:        bold;
}

footer {
    position:           fixed;
    left:               0px;
    bottom:             10px;
    display:            inline-block;
    width:              100%;
    background:         #8f0000;
    color:              white;
    text-align:         center;
    font-family:        hiragino sans, helvetica, swiss, arial, sans-serif;
}
